datasets
opencv-python
albumentations
timm
sacremoses
torch==2.5.1
torchvision==0.20.1
transformers==4.38
pydicom>=2.4
pillow>=10.0
numpy>=1.23
pandas>=2.0
pyyaml>=6.0
tqdm>=4.66
matplotlib>=3.7
bert-score>=0.3.13
